<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My All Five Cars</title>
</head>
<body>
<h1>Cars List</h1>
<table border="3">
    <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
    </tr>
    <tr th:each="car : ${cars}">
        <td th:text="${car.make}">Make</td>
        <td th:text="${car.model}">Model</td>
        <td th:text="${car.year}">Year</td>
    </tr>
</table>
</body>
</html>